.container {
  width: 60%;
  max-width: 400px; /* Adjust the maximum width based on your design */
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 7px rgb(190, 187, 187);
}

h3 {
  text-align: center;
}

.cancel {
margin-left: -70%;
  margin-top: 20px;
 
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.alert {
  color: #dc3545;
  margin-top: -10px;
}

button.button {
  width: 40%;
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgb(246, 234, 166) 0%,
    rgb(249, 231, 131) 16%,
    rgb(250, 226, 93) 50%,
    rgb(249, 222, 70) 83%,
    rgb(253, 215, 1) 100%
  );
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

button.button:hover {
  background: rgb(243, 213, 40);
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}