/* .top-navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 100;
  }
  
  .bottom-navbar {
    position: sticky;
    top: 50px; 
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    z-index: 100;
  }
  
  .sidenav {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1;
  }
  
  .sidenav-open {
    width: 250px;
  } */

  .top-navbar {
    /* Your styles for the top navbar */
    position: sticky;
    top: 0;
    background-color:rgb(178, 156, 156);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 100;
  }
  
  .sidenav {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px; /* Start the sidenav off-screen */
    background-color: #333;
    overflow-y: auto;
    transition: 0.3s;
    color: #fff;
  }
  
  .sidenav-open {
    left: 0; /* Slide in the sidenav when it's open */
  }
  
  .submenu {
    list-style-type: none;
    padding: 0;
    color: #fff;
  }

  .submenu .collapse {
    display: none;
  }
  
  .submenu .open {
    display: block;
  }
  
  .nav-list-item {
    padding: 10px;
    color: #fff;
  }
  
  .nav-list-item a {
    text-decoration: none;
    color: #fff;
  }

  
  
  .bottom-navbar {
    /* Your styles for the bottom navbar */
    position: sticky;
    top: 50px; 
    background-color:#dc9e6f;
    color: #fff;
    padding: 10px 20px;
    z-index: 100;
  }
  
  .toggle-button {
    /* background-color: #333; */
    /* color: #fff; */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    
  }
  
  .rates{
    /* margin: 1rem 2rem; */
    font-family: var(--font-roboto);
    font-size: 1rem;
    justify-content: space-between;
    /* border-bottom: 1.5px solid gray; */
    /* background-color: #dc9e6f; */
    color: white;
}

.rates p{
    margin-right: 5rem;
}
  /* Add responsive design */
  @media (max-width: 768px) {
    .top-navbar {
      padding: 10px;
    }
  
    .bottom-navbar {
      top: 70px;
      padding: 10px;
    }
  
    .sidenav {
      width: 0;
    }
  }