<div mat-dialog-content>
    <div>
        <label for="category">Category:</label> &nbsp;
        <select id="category" [(ngModel)]="categoryFilter">
          <option value="">Select Category</option>
          <option (click)="onCategorySelectionChange(category.categoryId)"
              *ngFor="let category of categories"
              [value]="category.categoryId">
              {{ category.categoryName }}
            </option>
          <!-- Add more category options as needed -->
        </select>
      </div>
      <br><br>

      <div>
        <label for="metal">Metal:</label> &nbsp; &nbsp; &nbsp; &nbsp;
        <select id="metal" [(ngModel)]="metalFilter">
          <option value="">Select Metal</option>
          <option (click)="onMetalSelectionChange(metal.metalId)"
              *ngFor="let metal of metals"
              [value]="metal.metalId"
            >
              {{ metal.metalName }}
            </option>
          <!-- Add more metal options as needed -->
        </select>
      </div>
<br><br>
      <div>
        <label for="purity">Purity:</label>&nbsp; &nbsp; &nbsp; &nbsp;
        <select id="purity" [(ngModel)]="purityFilter">
          <option value="">Select Purity</option>
          <option (click)="onPuritySelectionChange(purity.purityId)"
              *ngFor="let purity of purities"
              [value]="purity.purityId"
            >
              {{ purity.purityName }}
            </option>
          <!-- Add more purity options as needed -->
        </select>
      </div>
<br><br>
      <div>
        <button (click)="applyFilters()" class="btn btn-primary">Apply Filters</button> &nbsp;&nbsp;
        <button (click)="clearFilters()" class="btn btn-primary">Clear Filters</button>
      </div>
  </div>