*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 50%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    /* margin-inline: auto; */
    background: var(--gradient);
    box-shadow: var(--primary-shadow) ;
    height: 100px;
}

.heading{
    text-align: center;
    text-decoration: underline;
    font-size: xx-large;
    color: rgb(110, 110, 110);
    margin-bottom: 2rem;
}

.charts{
    gap: 3rem;
    height: 32rem;
    margin-inline: auto;
    justify-content: space-between;
}

.chart{
    background-color: white;
    box-shadow: var(--secondary-shadow);
    padding: 2rem;
}

.mat-elevation-z8{
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: var(--secondary-shadow);
}

.input{
    width: 100%;
    margin-top: 3rem;
    background-color: white;
    box-shadow: var(--secondary-shadow);
}

.paginator{
    background-color: white;
    box-shadow: var(--secondary-shadow);
}